<form action="/user-form" method="post">
First name: <input type="text" name="firstname"><br>
Last name: <input type="text" name="lastname"><br>
Special skill: <input type="text" name="specialskill">
<input type="submit" value="Submit">
</form>